.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 120s linear;
  height: 20vmin;
  pointer-events: none;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
