body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.thumbnail {
  width: 25px;
  border-radius: 50%;
}

.card {
  margin: 25px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgb(0,0,0,0.253);
}